rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    // PERMITIR LEITURA E ESCRITA PARA QUALQUER USUÁRIO LOGADO
    match /{path=**} {
      allow read, write: if request.auth != null;
    }
  }
}
