rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    
    function isSignedIn() {
      return request.auth != null;
    }

    // Regra para documentos de empresas
    match /companies/{companyId}/documents/{fileName} {

      // Qualquer usuário logado pode ver documentos da empresa
      // Em produção, você pode querer restringir isso a membros também.
      // allow read: if isSignedIn();
      
      // Apenas membros da empresa podem ler ou escrever documentos.
      allow read, write: if isSignedIn()
                   && exists(
                        /databases/(default)/documents/companies/$(companyId)
                      )
                   && get(
                        /databases/(default)/documents/companies/$(companyId)
                      ).data.members[request.auth.uid] != null;
    }

    // Perfil de usuário: só o próprio usuário pode escrever. Leitura pública.
    match /profile-pictures/{userId}/{fileName} {
      allow read: if true;
      allow write: if isSignedIn() && request.auth.uid == userId;
    }

    // Regra de negação para todos os outros caminhos.
    match /{path=**} {
      allow read, write: if false;
    }
  }
}
